@font-face {
  font-family: default-font;
  src: url(../AvenirLTStd-Light.otf);
}
@font-face {
  font-family: default-font;
  src: url(../AvenirLTStd-Roman.otf);
  font-weight: bold;
}
/* line 15, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/main.scss */
.container {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: default-font;
  display: flex;
  flex-flow: column;
}
/* line 29, ../sass/main.scss */
.container .upper-nav {
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e9eb;
}
/* line 35, ../sass/main.scss */
.container .upper-nav .my-logo {
  display: flex;
  justify-content: center;
}
/* line 38, ../sass/main.scss */
.container .upper-nav .my-logo img {
  width: 209px;
  height: 329px;
}
/* line 44, ../sass/main.scss */
.container .upper-nav .nav-container {
  width: 100%;
  display: flex;
  flex-flow: column;
}
/* line 48, ../sass/main.scss */
.container .upper-nav .nav-container .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
/* line 53, ../sass/main.scss */
.container .upper-nav .nav-container .nav-bar .contains {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-flow: row;
}
/* line 58, ../sass/main.scss */
.container .upper-nav .nav-container .nav-bar .contains .items {
  display: flex;
  justify-content: center;
}
/* line 61, ../sass/main.scss */
.container .upper-nav .nav-container .nav-bar .contains .items img {
  pointer-events: none;
  display: block;
  margin: auto;
  height: 30%;
  width: 45%;
}
/* line 70, ../sass/main.scss */
.container .upper-nav .nav-container .nav-bar .work-contains {
  margin-right: 13%;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}
/* line 76, ../sass/main.scss */
.container .upper-nav .nav-container .nav-bar .work-contains .items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 80, ../sass/main.scss */
.container .upper-nav .nav-container .nav-bar .work-contains .items img {
  display: block;
  margin: auto;
  height: 30%;
  width: 45%;
}
/* line 91, ../sass/main.scss */
.container .main-content {
  display: flex;
  position: relative;
  justify-content: center;
  line-height: 1.7em;
}
/* line 96, ../sass/main.scss */
.container .main-content .about {
  height: 100%;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 102, ../sass/main.scss */
.container .main-content .work {
  height: 100%;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 112, ../sass/main.scss */
.container .main-content .work .projects {
  display: block;
  align-self: flex-start;
}
/* line 115, ../sass/main.scss */
.container .main-content .work .projects .project-container {
  display: table;
  content: " ";
}
/* line 118, ../sass/main.scss */
.container .main-content .work .projects .project-container .projectCell {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  transition: .2s ease-in-out;
}
/* line 124, ../sass/main.scss */
.container .main-content .work .projects .project-container .projectCell .projectContent:hover {
  transform: scale(1.1);
}
/* line 128, ../sass/main.scss */
.container .main-content .work .projects .project-container .description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  color: #444;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.8;
}
/* line 142, ../sass/main.scss */
.container .main-content .notes {
  height: 100%;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
/* line 151, ../sass/main.scss */
.container .main-content .notes .projectCell {
  font-weight: bold;
  font-size: large;
}
/* line 156, ../sass/main.scss */
.container .main-content .notes .projectContent img {
  width: 200px;
  height: 200px;
}
/* line 161, ../sass/main.scss */
.container .main-content .notes .description {
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.7em;
}
/* line 168, ../sass/main.scss */
.container .footer-wrapper {
  margin-top: auto;
  position: relative;
  display: block;
  height: 80px;
  bottom: 0;
}
/* line 174, ../sass/main.scss */
.container .footer-wrapper .footer {
  position: absolute;
  height: 80px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  justify-content: center;
}
/* line 182, ../sass/main.scss */
.container .footer-wrapper .footer .social-container {
  display: flex;
  height: 80px;
  justify-content: center;
  flex-flow: row;
  border-top: 1px solid #e6e9eb;
}
/* line 188, ../sass/main.scss */
.container .footer-wrapper .footer .social-container .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 192, ../sass/main.scss */
.container .footer-wrapper .footer .social-container .icons img {
  display: block;
  margin: auto;
  width: 40%;
}
