/* line 6, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/main.scss */
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 21, ../sass/main.scss */
.container {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding-left: 2%;
}
/* line 27, ../sass/main.scss */
.container .intro-name {
  flex: 0 1 100%;
  padding-top: 10px;
  font-family: "Nunito", sans-serif;
  display: block;
  color: #A9A9A9;
  font-size: 40px;
}
/* line 35, ../sass/main.scss */
.container .definition {
  flex: 0 1 100%;
  height: 40px;
  font-family: "Nunito", sans-serif;
  display: block;
}
/* line 41, ../sass/main.scss */
.container .abt-container {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: flex-start;
}
/* line 45, ../sass/main.scss */
.container .abt-container .my_img {
  justify-content: center;
  float: right;
  height: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
}
/* line 55, ../sass/main.scss */
.container .abt-container .bio {
  float: left;
  margin: 0;
  padding-left: 15px;
  font-weight: 300;
}
/* line 63, ../sass/main.scss */
.container .section {
  flex: 0 1 100%;
  padding-left: -2%;
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-top: 10px;
}
/* line 75, ../sass/main.scss */
.container .work-container .software {
  float: left;
  height: 40vw;
  position: relative;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
/* line 84, ../sass/main.scss */
.container .work-container .software .projects {
  display: block;
  margin: 0;
}
/* line 87, ../sass/main.scss */
.container .work-container .software .projects .project-container {
  display: table;
  content: " ";
}
/* line 90, ../sass/main.scss */
.container .work-container .software .projects .project-container .projectCell {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  transition: .2s ease-in-out;
}
/* line 96, ../sass/main.scss */
.container .work-container .software .projects .project-container .projectCell .projectContent:hover {
  transform: scale(1.1);
}
/* line 100, ../sass/main.scss */
.container .work-container .software .projects .project-container .description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  color: #444;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.8;
}
/* line 113, ../sass/main.scss */
.container .work-container .software #code {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: .2s ease-in-out;
}
/* line 125, ../sass/main.scss */
.container .work-container .software #code:hover {
  transform: scale(1.1);
}
/* line 128, ../sass/main.scss */
.container .work-container .software .project-info {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 134, ../sass/main.scss */
.container .work-container .software .project-info .project-content {
  height: 100%;
}
/* line 136, ../sass/main.scss */
.container .work-container .software .project-info .project-content .proj-image {
  width: 100%;
}
/* line 141, ../sass/main.scss */
.container .work-container .software .project-info .project-information .cancel {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 30px;
}
/* line 147, ../sass/main.scss */
.container .work-container .software .project-info .project-information .project-title {
  font-weight: bold;
  position: relative;
  text-align: center;
}
/* line 153, ../sass/main.scss */
.container .work-container .software .project-info .project-information .proj-description-detail {
  text-align: left;
  position: relative;
}
/* line 161, ../sass/main.scss */
.container .work-container .design {
  float: right;
  height: 40vw;
  position: relative;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 169, ../sass/main.scss */
.container .work-container .design #design {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: .2s ease-in-out;
}
/* line 180, ../sass/main.scss */
.container .work-container .design #design:hover {
  transform: scale(1.1);
}
/* line 186, ../sass/main.scss */
.container .nav-bg {
  display: flex;
  flex: 0 1 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  background: white;
  left: 0px;
  bottom: 0;
  opacity: 0.95;
  z-index: 0;
}
/* line 197, ../sass/main.scss */
.container .nav-bg .bottom-nav {
  flex: 0 1 100%;
  z-index: 1;
  background: white;
  bottom: 20px;
  border-bottom: 1px solid #000000;
}
/* line 204, ../sass/main.scss */
.container .nav-bg .bottom-nav .content {
  display: inline;
  text-align: center;
}

/* line 211, ../sass/main.scss */
ul {
  list-style: none;
}

/* line 214, ../sass/main.scss */
li {
  cursor: pointer;
  display: inline-block;
  margin: 0 3% 0 3%;
}
/* line 219, ../sass/main.scss */
li .cross {
  display: block;
  position: absolute;
  background: white;
  text-align: center;
  margin: 0 -0.5% 0 0%;
  width: 30px;
}

/* line 229, ../sass/main.scss */
.nav_line {
  display: block;
  position: relative;
  width: 100;
  margin-left: 0;
}

/* line 235, ../sass/main.scss */
#jahan {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 243, ../sass/main.scss */
.definition span {
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 30px;
  opacity: 0;
  overflow: hidden;
  color: #DF3939;
  -webkit-animation: rotateDef 15s linear infinite 0s;
  -ms-animation: rotateDef 15s linear infinite 0s;
  -moz-animation: rotateDef 15s linear infinite 0s;
  -o-animation: rotateDef 15s linear infinite 0s;
  animation: rotateDef 15s linear infinite 0s;
}

/* line 255, ../sass/main.scss */
.definition span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

/* line 255, ../sass/main.scss */
.definition span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 255, ../sass/main.scss */
.definition span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -ms-animation-delay: 9s;
  -o-animation-delay: 9s;
  animation-delay: 9s;
}

/* line 255, ../sass/main.scss */
.definition span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -ms-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

@-webkit-keyframes rotateDef {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateDef {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes rotateDef {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes rotateDef {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateDef {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
